<li>
  {{questions.author}'s' {{questions.question}} in
    {{#if isAnswerShowing}}
    <p>
      {{questions.answer}}
    </p>
    {{else}}
    <button {{action 'answerShow'}}>View Answer</button>
    {{/if}}
</li>
